<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <section class="about-us">
        <div class="about-box">
            <div class="about-top">
                <div class="about-pic" id="about-p4"></div>
            </div>
            <div class="about-bottom">
                <h4>Anuj Ruhela</h4>
                <p>B.Tech 3rd year student</p>
                <p>GLA University, Mathura</p>
            </div>
        </div>
    </section>
<%- include("partials/footer"); -%>